
.button {
  background-color: white;
  color: black;
  border: 2px solid #82B9F0;
  border-radius: 12px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #82B9F0;
  color: white;
}

p {
  font-size: 16px;
  font-family: 'Staatliches', cursive;
}
h1 {
  font-size: 34px;
  font-weight: 100;
  font-family: 'Staatliches', cursive;
}


span {
  font-size: 36px;
  font-weight: bold;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}



body {
  background: #3399ff;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

#Thermostat-title {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#temp-text {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#temperature {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#temp-up {
  position: absolute;
  top: 39%;
  left: 47%;
  transform: translate(-50%, -50%);
}
#temp-down {
  position: absolute;
  top: 39%;
  left: 53%;
  transform: translate(-50%, -50%);
}

#temp-reset {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#power {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#power-saving {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#curent-temp-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#current-city {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#current-temperature {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
